.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
_deploy
public
sass.old
vendor
source.old
source/_stash
source/stylesheets/screen.css
node_modules
.app_store_developer
.themes/oct2
.themes/slash
.preview-mode